doctype html
html(lang="en")
  head
    title Riotstrap - bootstrap components using riotjs
    link(rel="stylesheet",type="text/css",href="index.css")
    
  body
    header#top

    .bs-docs-header
      .container
        //- h1 RiotStrap
        //- p
        //-   | Bootstrap components built with 
        //-   a(target='_blank', href='http://riotjs.com/') Riot.js
        //-   | .
        //- p No jQuery, bootstrap.js, or any 3rd party plugins required.

    .container
      .col-md-9
        .row
          h3#Accordion.anchor Accordion
          accordion-example
        .row
          h3#Affix.anchor Affix
          p See menu to the right ->
        .row
          h3#Alert.anchor Alert
          alerts-example
        .row
          h3#Aside.anchor Aside
          rs-aside
        .row
          h3#Buttons.anchor Buttons
          button-example
        .row
          h3#Carousel.anchor Carousel
          rs-carousel
        .row
          h3#Datepicker.anchor Datepicker
          rs-datepicker
        .row
          h3#Dropdown.anchor Dropdown
          dropdown-example
        .row
          h3#Forms.anchor Forms
          forms-example
        .row
          h3#Modal.anchor Modal
          modal-example
        .row
          h3#Popover.anchor Popover
          rs-popover
        .row
          h3#Progressbar.anchor Progressbar
          rs-progressbar
        .row
          h3#Scrollspy.anchor Scrollspy
        .row
          h3#Select.anchor Select
          rs-select
        .row
          h3#Smoothscroll.anchor Smoothscroll
          smoothscroll-example
        .row
          h3#Table.anchor Table
          table-example
        .row
          h3#Tabs.anchor Tabs
          tabs-example
        .row
          h3#Toggle.anchor Toggle
          toggle-example
        .row
          h3#Tooltip.anchor Tooltip
          rs-tooltip
        .row
          h3#Typeahead.anchor Typeahead
          rs-typeahead
        .row
          h3#Spinner.anchor Spinner
          rs-spinner
      .col-md-3
        rs-affix
          rs-scrollspy
            nav.bs-docs-sidebar.hidden-print.hidden-xs.hidden-sm
              ul.nav.bs-docs-sidenav
                li(each="{header, i in parent.opts.headers}", riot-tag="smoothscroll", to="{'#' + header}", duration="1000", scrollspy-link, class="{'active':scrollspied[i]}")
                  a(href="{'#' + header}") {header}

    script(src="index.js")